# Maven
/target/
**/target/
!.mvn/wrapper/maven-wrapper.jar

# IDEA
*.iml
*.ipr
*.iws
.idea/

# Eclipse
.classpath
.project
.settings/

# OS
.DS_Store
Thumbs.db

# Logs
*.log

# Temporary files
*.tmp
*.swp
*.swo
